
<div class="mt-3 text-center">
  <%- if controller_name != 'webauthn_authentications' %>
    <%= link_to "ログイン", login_path, class: "btn btn-outline-primary me-2" %>
  <% end %>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-secondary me-2" %>
  <% end %>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <br>
    <%= link_to "確認メールを再送信", new_user_confirmation_path, class: "btn btn-link btn-sm mt-2" %>
  <% end %>
</div>