
<!-- 左側サイドバー - カテゴリーとタグ -->
<div class="col-md-3">
  <!-- カテゴリー一覧 -->
  <div class="card mb-4">
    <div class="card-header">
      <h5 class="mb-0">カテゴリー</h5>
    </div>
    <%= form_with url: posts_path, method: :get, local: true, class: "mb-0" do |form| %>
      <div class="card-body">
        <%= form.collection_select :category_id, Category.all, :id, :full_name,
                                   { prompt: "すべてのカテゴリー", selected: params[:category_id] },
                                   { class: "form-select", onchange: "this.form.submit();" } %>
      </div>

      <div class="card-header">
        <h5 class="mb-0">投稿タイプ</h5>
      </div>

      <div class="card-body">
        <%= form.collection_select :post_type_id, PostType.all, :id, :description,
                                   { prompt: "すべての投稿タイプ", selected: params[:post_type_id] },
                                   { class: "form-select", onchange: "this.form.submit();" } %>
      <% end %>
    </div>
  </div>

</div>