<% if post.errors.any? %>
  <div class="alert alert-danger">
    <h4><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h4>
    <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>