<% content_for :full_width, true %>
<div class="container-fluid px-0">
  <div class="row">
    <div class="col-12">
      <div class="px-4">
        <%= render 'form', post: @post %>
      </div>
    </div>
  </div>
</div>